# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Environment
.env
.env.local

# Terraform
*.tfstate
*.tfstate.backup
.terraform/

# Kubernetes
kubeconfig

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
